
.heading
{
    font-size: 22px;
    width: 100%;
    margin-top: 0;
}

.note
{
    font-size: 23px;
    color: blueviolet;
}

body
{
    background: cover;
}


.copy_right_footer
{
    position: fixed;
    color: blueviolet;
    background-color: lightseagreen;
    width: 100%;
    line-height: 4;
    text-align: center;
    bottom: 0;
}

  #song
  {
  	font-size: 23px;
  	margin: 15px;
  }
    canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px #73cfd8;
  }